/* css Header */
.site_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DAC0AC;
    padding: 10px 20px;
    margin-bottom: 50px;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
  }
.menu {
  font-size: 1.4em;
  background: linear-gradient(#e66465, #EDE0D6);
}

.dropdown{
  position:  relative;
  display: inline-block;
  padding-right: 100px;
}
.dropdown-child{
  display:none;
  background-color: bisque;
  min-width: 200px;
}
.dropdown-child a{
  color: black;
  padding: 20px;
  display: block;
}

.dropdown:hover .dropdown-child{
  display: block;
} 
 
.logo {
    width: 100px;
    border-radius: 100%;
    border: 2px solid black;
  }
  
/* ACCEUIL CSS */
body {
    margin: 0;
    padding: 0;
}
#pokemonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageWraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    margin-top: 20%;
    background-color: #EDE0D6;
    border: 2px solid black;
    width: auto;
    height: auto;
}
.header{
    display: flex;
}
.name {
    padding-left: 5px;
}
.number {
    padding-left: 5px;
}

.button{
  display: flex;
  justify-content: space-evenly;
}
#buttonPoke{
    background: linear-gradient(#e66465, #EDE0D6);
    font-size: 1.5em;
}
/* GALERIE CSS */
.controls {
  text-align: center;
  margin: 20px 0;
}

.controls button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  background: linear-gradient(#e66465, #EDE0D6);
  color: black;
  border-radius: 4px;
  font-size: 16px;
}

.Galerie {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

.Galerie img {
  width: 80%;
  height: 100%;
  max-height: 300px;
  border-radius: 5px ;
  border: 2px solid black;
}

.mosaic .item {
width: 31%;
}

.column .item {
  width: 50%;
  max-width: 600px;
}

.item:hover img {
  transform: scale(1.05);
}
.item {
  position: relative;
}

.delete-btn {
  position: relative;
  
  color: black;
  border: none;
  cursor: pointer;
}



  @media (max-width: 768px) {
    .site_header {
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
    }
    .mosaic .item {
    width: 47%;
    }

    .logo {
      width: 10%;
    }
  
    .AcceuilTitre {
      justify-content: center;
      flex: 1;
      flex-wrap: wrap;
      gap: 15px;
    }
  
    .AcceuilTitre a {
      font-size: 1.2em;
      padding: 5px 8px;
    }

    #imagePoke{
        width: 80px;
  }
  #buttonPoke{
    font-size: 0.8em;
  }
  }
